.header {
  margin: 80px 0 50px;
}

.title-app {
  text-transform: uppercase;
  color: #ff7979;
  letter-spacing: 0.84px;
  font-size: 3em;
}

.subtitle-app {
  color: #ff7979;
  font-size: 2.5em;

  display: flex;
  align-items: center;
  gap: 30px;
}

@media (min-width: 300px) and (max-width: 500px) {
  .subtitle-app {
    font-size: 2em;
    margin-top: 15px;
    flex-direction: column;
    align-items: center;
  }
}

.subtitle-app img {
  width: 100%;
  max-width: 50px;
}

.form-header {
  margin: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 300px) and (max-width: 500px) {
  .form-header input {
    width: 90%;
  }
}

.search-tools {
  display: inline-block;
  padding: 5px 10px;
  background: #fff;
  border-radius: 3px;
  font-size: 1em;
  border: none;
  outline: none;
  box-shadow: 0 0 0 2px #fff;
  transition: 0.3s ease-in-out;
}

.search-tools:focus {
  box-shadow: 0 0 0 2px #fff, 0 0 0 5px #ff7979;
}

.search-tags {
  display: flex;
  align-items: center;
  height: 100%;
  flex: 1;
  margin: 0 20px;
  font-size: 1.1em;
  font-weight: 500;
}

input[data-js="checkbox-tags"] {
  margin-right: 5px;
}

.add-new-tool {
  width: 130px;
  padding: 5px;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  background: #ff7979;
  color: #fff;
  border: none;
  box-shadow: 0 0 0 2px #fff;
  transition: 0.3s ease-in-out;
  border-radius: 3px;
}

.add-new-tool:hover {
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px #ff7979;
}

@media (max-width: 720px) {
  .title-app {
    font-size: 2.5em;
    text-align: center;
  }

  .subtitle-app {
    font-size: 1.8em;
    text-align: center;
  }

  .form-header {
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .search-tags {
    margin: 20px;
  }
}

@media (min-width: 300px) and (max-width: 500px) {
  .search-tags {
    width: 100%;
    justify-content: center;
    margin: 30px 0 20px;
    padding: 0 20px;
  }

  input[data-js="checkbox-tags"] {
    flex: 0.5;
  }

  .add-new-tool {
    margin-top: 10px;
  }
}
